#pg-0, .panel-grid-cell .panel{
    margin-bottom: 0!important;
}

.panel-grid-cell{
    padding: 0!important;
}

footer[role="contentinfo"]{
    max-width: 100%!important;
}

.widget-area{
    width: 100%!important;
}
